<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="GeoMans Automation Suite" verbose="10">
	<listeners>
		<listener class-name="utilities.TestListener" />
	</listeners>

	<test name="GeoMans Tests">
		<classes> <class name="tests.HomePageTests"></class> 
			</classes>
	</test>
</suite>